#include <windows.h>

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "测试公司"
            VALUE "FileDescription", "这是一个文件说明"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "MyApp"
            VALUE "OriginalFilename", "MyApp.exe"
            VALUE "ProductName", "签名演示程序"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
